@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
*{
    padding: 0;
    margin: 0;
}
.row{
    content: "";
    display: table;
    clear: both;
    overflow: auto;
   
}
body{
    font-family: 'Libre Franklin', sans-serif;
    
}
h1.title{
    text-align: center;
    margin: 80px;
}
.menu{
    border-bottom: 6px #d4af37 dotted;
}
.column{
    width: 21.5%;
    margin: 0 20px;
    height: 240px;
    position: relative;
    box-shadow: 0px 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    float: left;
}
.column .image{
    position: relative;
    width: 190px;
    height: 190px;
 
}
.column .image img{
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    margin-left: 65px;
    top: -1rem;
    border-radius: 5%;
}
.column:hover{
    height: 500px;
}
.content{
    position: relative;
    top: -15px;
}
 p.welcome{
    font-family: 'Shadows Into Light Two', cursive;
    margin:  20px 0px;
    color: #d4af37;
    font-size: 20px;
    text-align: center;
}
span.foodBrand{
    border-bottom: 6px #d4af37 dotted;
}
.content h2{
    margin-bottom: 25px;
    padding: 0px 15px;

}
p.food{
    padding: 0px 15px;
}
.content p.name{
    font-family: 'Marck Script', cursive;
    margin:  15px 0px;
    font-size: 18px;
    padding: 0px 15px;
    color: dimgray;
} 
.content{
   visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.column:hover .content{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s ;
}
.column{
    margin-bottom: 50px;
}
/*Responsiveness*/
@media(max-width:1439px){
    .column .image img{
        margin-left: 55px;
    }
}
@media(max-width:1397px){
    .column .image img{
        margin-left: 55px;
    }
}
@media(max-width:1267px){
    .column .image img{
        margin-left: 40px;
    }
}
@media(max-width:1217px){
    .column .image img{
        margin-left: 30px;
    }
}
@media(max-width:1142px){
    .column{
        width: 26%;
    }
    .column .image img{
        margin-left: 50px;
    }
}
@media(max-width:1090px){
    .column .image img{
        margin-left: 45px;
    }
}
@media(max-width:1059px){
    .column .image img{
        margin-left: 41px;
    }
}

@media(max-width:1059px){
    .column .image img{
        margin-left: 41px;
    }
}
@media(max-width:1018px){
    .column .image img{
        margin-left: 35px;
    }
}
@media(max-width:964px){
    .column .image img{
        margin-left: 30px;
    }
}
@media(max-width:914px){
    .column .image img{
        margin-left: 25px;
    }
}
@media(max-width:881px){
    .column .image img{
        margin-left: 20px;
    }
}
@media(max-width:849px){
    .column .image img{
        margin-left: 15px;
    }
}
@media(max-width:834px){
    .column .image img{
        margin-left: 80px;
 }
    .column {
        width: 43%;
    }
}
@media(max-width:796px){
    .column .image img{
        margin-left: 70px;
 }  
}
@media(max-width:746px){
    .column .image img{
        margin-left: 60px;
 }  
}
@media(max-width:716px){
    .column .image img{
        margin-left: 55px;
 }  
}
@media(max-width:686px){
    .column .image img{
        margin-left: 50px;
 }  
}
@media(max-width:662px){
    .column .image img{
        margin-left: 48px;
 }  
}
@media(max-width:638px){
    .column .image img{
        margin-left: 40px;
 }  
}
@media(max-width:614px){
    .column .image img{
        margin-left: 35px;
 }  
}
@media(max-width:594px){
    .column .image img{
        margin-left: 30px;
 }  
}
@media(max-width:571px){
    .column {
        width: 100%;
    }
}
