@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
*{
    padding: 0;
    margin: 0;
}
.row{
    content: "";
    display: table;
    clear: both;
    overflow: auto;
   
}
body{
    font-family: 'Libre Franklin', sans-serif;
   background-color: #d9dfab
   ;
    
}
h1.title{
    text-align: center;
    margin: 80px;
    color: #355326;
}
.menu{
    border-bottom: 6px #d4af37 dotted;
}
.column{
    width: 21.5%;
    margin: 0 20px;
    height: 280px;
    position: relative;
    box-shadow: 0px 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    float: left;
    background-color: #f8f9f2;
}
.column .image{
    position: relative;
    width: 190px;
    height: 190px;
 
}
.column .image img{
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    margin-left: 65px;
    top: -1rem;
    border-radius: 5%;
}
.column:hover{
    height: 500px;
}
.content{
    position: relative;
    top: -15px;
}
 p.welcome{
    font-family: 'Shadows Into Light Two', cursive;
    margin:  20px 0px;
    color: #d4af37;
    font-size: 20px;
    text-align: center;
    margin-bottom: 35px;
}
span.foodBrand{
    border-bottom: 6px #d4af37 dotted;
}
.content h2{
    margin-bottom: 25px;
    padding: 0px 15px;

}
p.food{
    padding: 0px 15px;
    font-size: smaller;
}
.content p.name{
    font-family: 'Marck Script', cursive;
    margin:  15px 0px;
    font-size: 18px;
    padding: 0px 15px;
    color: dimgray;
} 
.content{
   visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.column:hover .content{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s ;
}
.column{
    margin-bottom: 50px;
}
/*Responsiveness*/
@media(max-width:1439px){
    .column .image img{
        margin-left: 55px;
    }
}
@media(max-width:1397px){
    .column .image img{
        margin-left: 55px;
    }
}
@media(max-width:1267px){
    .column .image img{
        margin-left: 40px;
    }
}
@media(max-width:1217px){
    .column .image img{
        margin-left: 30px;
    }
}
@media(max-width:1142px){
    .column{
        width: 26%;
    }
     .cardThree:hover ~ .cardFour{
        margin-top: -250px;;
    }
    .column .image img{
        margin-left: 50px;
    }
}
@media(max-width:1090px){
    .column .image img{
        margin-left: 45px;
    }
}
@media(max-width:1059px){
    .column .image img{
        margin-left: 41px;
    }
}

@media(max-width:1059px){
    .column .image img{
        margin-left: 41px;
    }
}
@media(max-width:1018px){
    .column .image img{
        margin-left: 35px;
    }
}
@media(max-width:964px){
    .column .image img{
        margin-left: 30px;
    }
}
@media(max-width:914px){
    .column .image img{
        margin-left: 25px;
    }
}
@media(max-width:881px){
    .column .image img{
        margin-left: 20px;
    }
}
@media(max-width:849px){
    .column .image img{
        margin-left: 15px;
    }
}
@media(max-width:834px){
    .column .image img{
        margin-left: 80px;
 }
    .column {
        width: 43%;
    }
    .cardThree:hover ~ .cardFour{
        margin-top: 0px;
    }
    .cardTwo:hover ~ .cardThree{
        margin-top: -250px;
    }
}
@media(max-width:796px){
    .column .image img{
        margin-left: 70px;
 }  
}
@media(max-width:746px){
    .column .image img{
        margin-left: 60px;
 }  
}
@media(max-width:716px){
    .column .image img{
        margin-left: 55px;
 }  
}
@media(max-width:686px){
    .column .image img{
        margin-left: 50px;
 }  
}
@media(max-width:662px){
    .column .image img{
        margin-left: 48px;
 }  
}
@media(max-width:638px){
    .column .image img{
        margin-left: 40px;
 }  
}
@media(max-width:614px){
    .column .image img{
        margin-left: 35px;
 }  
}
@media(max-width:594px){
    .column .image img{
        margin-left: 30px;
 }  
}
@media(max-width:571px){
    .column {
        width: 89%;
    }
    .cardTwo:hover ~ .cardThree{
        margin-top: 0px;
    }
    .column .image img{
        margin-left: 155px;
 } 
}
@media(max-width:544px){
    .column .image img{
        margin-left: 145px;
 } 
}
@media(max-width:526px){
    .column .image img{
        margin-left: 135px;}
 } 
 @media(max-width:496px){
    .column .image img{
        margin-left: 125px;
 } 
}
 @media(max-width:478px){
    .column .image img{
        margin-left: 115px;
}
}
@media(max-width:466px){
    .column .image img{
        margin-left: 115px;}
 } 
 @media(max-width:459px){
    .column .image img{
        margin-left: 100px;}
 } 
 @media(max-width:431px){
    .column .image img{
        margin-left: 90px;
    }
 }
 @media(max-width:413px){
    .column .image img{
        margin-left: 80px;
    }
 }
 @media(max-width:386px){
    .column .image img{
        margin-left: 75px;
    }
 }
 @media(max-width:368px){
    .column .image img{
        margin-left: 70px;
    }
 }
 @media(max-width:359px){
    .column .image img{
        margin-left: 60px;
    }
 }
 @media(max-width:340px){
    .column .image img{
        margin-left: 57px;
    }
 }
 @media(max-width:330px){
    .column .image img{
        margin-left: 50px;
    }
 }
 @media(max-width:320px){
    .column .image img{
        margin-left: 45px;
    }
 }
 @media(max-width:312px){
    .column .image img{
        margin-left: 41px;
    }
 }
 @media(max-width:292px){
    .column .image img{
        margin-left: 34px;
    }
 }
 @media(max-width:282px){
    .column .image img{
        margin-left: 30px;
    }
 }
 @media(max-width:272px){
    .column .image img{
        margin-left: 24px;
    }
 }
 @media(max-width:264px){
    .column .image img{
        margin-left: 20px;
    }
 }
 @media(max-width:252px){
    .column .image img{
        margin-left: 16px;
    }
 }
 @media(max-width:248px){
    .column .image img{
        margin-left: 14px;
    }
 }
 @media(max-width:244px){
    .column .image img{
        margin-left: 12px;
    }
 }
 @media(max-width:240px){
    .column .image img{
        margin-left: 11px;
    }
 }
 @media(max-width:236px){
    .column .image img{
        margin-left: 11px;
    }
 }
 @media(max-width:232px){
    .column .image img{
        margin-left: 9px;
    }
 }
 @media(max-width:228px){
    .column .image img{
        margin-left: 6px;
    }
 }